// SCCS for the page design.

.page-meta {
	color: $grey-color;
	font-size: $small-1-font-size;
}

.page-title {
	text-align: center;
	margin-top: 2 * $vspacing-unit;
	margin-bottom: 2 * $vspacing-unit;
}

blockquote {
 // font: 14px/22px normal helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
//  text-align: justify;
//  text-justify: inter-word;
} 

p {
//  text-align: justify;
//  text-justify: inter-word;
}