---
layout: page
secondary-column-content: None
---
{% if page.firstWritten %}
<b>First written:</b> {{ page.firstWritten }}<br/>
{% endif %}
{% if page.firstPublished %}
<b>First published:</b> {{ page.firstPublished }}<br/>
{% endif %}
{% if page.status %}
<b>Status:</b> {{ page.status }}<br/>
{% endif %}

{% if page.lastEdit %}
<b>Last edit:</b> {{ page.lastEdit }}<br/>
{% endif %}
<hr/>
{{ content }}

<!--
<img src="/assets/js/testimg.png">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
<script type="text/javascript" src="/assets/js/footnotes.js" defer></script>
-->

<script type="text/javascript" src="/assets/js/jquery-1.7.1.min.js"></script>
<script defer type="text/javascript" src="/assets/js/gfootnotes.js"></script>
